doctype html
html(lang='en')
  head
    title Example Application
    link(href="https://fonts.googleapis.com/css?family=Bangers|Open+Sans|Open+Sans+Condensed:300|Oswald|Poiret+One|Roboto|Raleway|Share+Tech+Mono|Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="viewport" content="height=device-height, initial-scale=1.0")
  body